In [1]:
import numpy as np
import matplotlib.pyplot as plt
from matplotlib.colors import ListedColormap
# splitter
from sklearn.model_selection import train_test_split
# scale data
from sklearn.preprocessing import StandardScaler
# algorithms
from sklearn.neighbors import KNeighborsClassifier
from sklearn import metrics

# read data set
import csv
import pandas as pd

In [2]:
#     COMPUTING THE CONFUSION MATRIX
from sklearn.metrics import confusion_matrix

In [3]:
# This step helps to automate running different algorithms in same code and comper them
h = .02  # step size in the mesh

names = ["Nearest Neighbors"]

classifiers = [KNeighborsClassifier(10)]

In [4]:
# Read data set
pima = pd.read_csv('0500_pima_indians_diabetes_data.csv', header=None)

In [5]:
# Explore the data set
pima.head()

   0    1   2   3    4     5      6   7  8
0  6  148  72  35    0  33.6  0.627  50  1
1  1   85  66  29    0  26.6  0.351  31  0
2  8  183  64   0    0  23.3  0.672  32  1
3  1   89  66  23   94  28.1  0.167  21  0
4  0  137  40  35  168  43.1  2.288  33  1

In [30]:
# Separating pima in X and y
X=pima[pima.columns[0:8]]
y=pima[pima.columns[8:9]]

In [31]:
# Show splitted data
print(X.shape)
X.head()

(768, 8)

   0    1   2   3    4     5      6   7
0  6  148  72  35    0  33.6  0.627  50
1  1   85  66  29    0  26.6  0.351  31
2  8  183  64   0    0  23.3  0.672  32
3  1   89  66  23   94  28.1  0.167  21
4  0  137  40  35  168  43.1  2.288  33

In [11]:
print(y.shape)
y.head()

(768, 1)

   8
0  1
1  0
2  1
3  0
4  1

In [12]:
# Transform "y" from data frame to list
# Making Class a list
y=y[y.columns[0:1]].values.tolist()

In [13]:
type(y)

list

In [14]:
# Transform "X" to standardized (mean=0, sd=1)¶
# StandardScaler assumes X is normally distributed, it will transform to mean=0, Sd=1
X = StandardScaler().fit_transform(X)

/Users/fornesarturo/anaconda3/envs/ds/lib/python3.7/site-packages/sklearn/preprocessing/data.py:645: DataConversionWarning: Data with input dtype int64, float64 were all converted to float64 by StandardScaler.
  return self.partial_fit(X, y)
/Users/fornesarturo/anaconda3/envs/ds/lib/python3.7/site-packages/sklearn/base.py:464: DataConversionWarning: Data with input dtype int64, float64 were all converted to float64 by StandardScaler.
  return self.fit(X, **fit_params).transform(X)

In [15]:
# Split data 60% Training 40% Testing, Random=42 (for reproduce it)
#   60% train 40% test split
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.4, random_state=42)

In [16]:
# Show dimensions
print(X_train.shape)
print(X_test.shape)

(460, 8)
(308, 8)

In [17]:
print(len(y_train))
print(len(y_test))

460
308

In [19]:
# This OPTIONAL because it runs one by one algorithm
# - begin ---------------------------------------------------
# Create a kNN Model
# OPTIONAL:
knn = KNeighborsClassifier(n_neighbors=10)

In [20]:
# Fit the data set for Training
knn.fit(X_train, y_train)

/Users/fornesarturo/anaconda3/envs/ds/lib/python3.7/site-packages/ipykernel_launcher.py:2: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().

KNeighborsClassifier(algorithm='auto', leaf_size=30, metric='minkowski',
           metric_params=None, n_jobs=None, n_neighbors=10, p=2,
           weights='uniform')

In [21]:
# Compute the predictions on the X test partition
y_pred = knn.predict(X_test)

In [22]:
# Show the accuracy (score) on predicting
knn.score(X_test, y_test)

0.7207792207792207

In [24]:
# Show the confusion matrix
confusion_matrix(y_test, y_pred)

array([[178,  28],
       [ 58,  44]])

In [25]:
# - end ---------------------------------------------------

In [26]:
# If you want to run all the part of the KNN algorithm at once:
for name, clf in zip(names, classifiers):
    y_pred = clf.fit(X_train, y_train).predict(X_test)
    score = clf.score(X_test, y_test)
    cnf_matrix = confusion_matrix(y_test, y_pred)
    print("%s:   \t %8.4f"%(name, score))
    print(cnf_matrix)

Nearest Neighbors:   	   0.7208
[[178  28]
 [ 58  44]]

/Users/fornesarturo/anaconda3/envs/ds/lib/python3.7/site-packages/ipykernel_launcher.py:3: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  This is separate from the ipykernel package so we can avoid doing imports until

In [32]:
# PREDICTIONS
# If we have new data, We can predict the classification of PIMA
X.head(10)

    0    1   2   3    4     5      6   7
0   6  148  72  35    0  33.6  0.627  50
1   1   85  66  29    0  26.6  0.351  31
2   8  183  64   0    0  23.3  0.672  32
3   1   89  66  23   94  28.1  0.167  21
4   0  137  40  35  168  43.1  2.288  33
5   5  116  74   0    0  25.6  0.201  30
6   3   78  50  32   88  31.0  0.248  26
7  10  115   0   0    0  35.3  0.134  29
8   2  197  70  45  543  30.5  0.158  53
9   8  125  96   0    0   0.0  0.232  54

In [33]:
y[0:10]

   8
0  1
1  0
2  1
3  0
4  1
5  0
6  1
7  0
8  1
9  1

In [34]:
print("0 Should be 1 :", knn.predict(X.loc[[0]]))
print("1 Should be 0 :", knn.predict(X.loc[[1]]))
print("2 Should be 1 :", knn.predict(X.loc[[2]]))
print("3 Should be 0 :", knn.predict(X.loc[[3]]))
print("4 Should be 1 :", knn.predict(X.loc[[4]]))
print("5 Should be 0 :", knn.predict(X.loc[[5]]))
print("6 Should be 1 :", knn.predict(X.loc[[6]]))
print("7 Should be 0 :", knn.predict(X.loc[[7]]))
print("8 Should be 1 :", knn.predict(X.loc[[8]]))
print("9 Should be 1 :", knn.predict(X.loc[[9]]))

0 Should be 1 : [1]
1 Should be 0 : [1]
2 Should be 1 : [1]
3 Should be 0 : [1]
4 Should be 1 : [1]
5 Should be 0 : [1]
6 Should be 1 : [1]
7 Should be 0 : [1]
8 Should be 1 : [1]
9 Should be 1 : [1]