# VG Sales

## Arturo Fornés Arvayo A01227071

In [10]:
vg<-read.csv('0510_vgsales.csv', sep=',', header = TRUE)

In [11]:
head(vg,5)

  Rank Name                     Platform Year Genre        Publisher NA_Sales
1 1    Wii Sports               Wii      2006 Sports       Nintendo  41.49
2 2    Super Mario Bros.        NES      1985 Platform     Nintendo  29.08
3 3    Mario Kart Wii           Wii      2008 Racing       Nintendo  15.85
4 4    Wii Sports Resort        Wii      2009 Sports       Nintendo  15.75
5 5    Pokemon Red/Pokemon Blue GB       1996 Role-Playing Nintendo  11.27
  EU_Sales JP_Sales Other_Sales Global_Sales
1 29.02     3.77    8.46        82.74
2  3.58     6.81    0.77        40.24
3 12.88     3.79    3.31        35.82
4 11.01     3.28    2.96        33.00
5  8.89    10.22    1.00        31.37

In [12]:
library(dplyr)
salesPerPublisher<-group_by(vg, Publisher)

Attaching package: ‘dplyr’

The following objects are masked from ‘package:stats’:

    filter, lag

The following objects are masked from ‘package:base’:

    intersect, setdiff, setequal, union

In [13]:
salesPerPublisher<-summarize(salesPerPublisher, GSales =sum(Global_Sales))

In [14]:
salesPerPublisher<-arrange(salesPerPublisher, GSales)

In [15]:
tail(salesPerPublisher)

  Publisher                   GSales
1 Take-Two Interactive         399.54
2 Ubisoft                      474.72
3 Sony Computer Entertainment  607.50
4 Activision                   727.46
5 Electronic Arts             1110.32
6 Nintendo                    1786.56

In [16]:
Nintendo <- filter(vg, Publisher == 'Nintendo')

In [17]:
dim(Nintendo)

[1] 703  11

In [18]:
summarise(Nintendo, Global_Sales=sum(Global_Sales))

  Global_Sales
1 1786.56